<!DOCTYPE html>
<html ng-app="sports">
<head>
	<meta charset="UTF-8" />
	<title>Sports on the Olympics games</title>
</head>

/**
<br>* This application allows to make any CRUD operation on a Sport entity. Just for OCS interview purporses.</br>
* All sports that the application manages you are able to see it just below these lines
<br>* Tecnologies used: Spring Boot, Java 1.8, MVN, AngularJS, MongoDB</br> 
* In case you want to add a new Sport, 'Name' and 'Players' fields are mandatory. Once added, you would be able to inspected in the op of the screen
<br>* In case you want to update a Sport, 'Id', 'Name' and 'Players' fields are mandatory. Once updated, you would be able to inspected in the top of the screen</br>
* In case you want to delete a Sport, 'Id' field is mandatory. Once removed, rest of the sports listed on the top of the screen.
<br>* In case you want to find a Sport, if you specify an Id, that is the one retrieved, if empty all sports will be listed.</br> 
* Be aware that this application is currently running on a free Heroku account. If it hasn't been accessed in 30 minutes, then the first request will take up to 120 seconds. 
<br>* Swagger documentation: https://ocs-restapi.herokuapp.com/swagger-ui.html#/sports45controller</br>
* Git repository: https://github.com/clouter/spring-rest-angular.git
<br>**/</br>


<body ng-app="spring-rest-angular" ng-controller="SportsController" ng-init="getSports()">

	<div class="container" ng-show="sports != null">
		<div class="sport-info-bottom" ng-repeat="sport in sports">
			<h4><span>
			Id:{{sport.id}} | Name:{{sport.name}} | Players:{{sport.players}} </span></h4>
		</div>
	</div>
	
	<div class="form">
		<label for="name">Name:</label>
		<input id="name" ng-model="name" type="text" ng-required="true"/> 
		
		<label for="players">Players:</label>
		<input id="players" ng-model="players" type="number"/>
		
		<button id="addBtn" class="btn" ng-click="addSport()" >Add Sport</button>
	</div>
	
	<br></br>
	
	<div class="form">
		<label for="id">Id:</label>
		<input id="id" ng-model="id" type="text"/> 
		<button id="delBtn" class="btn" ng-click="delSport(id)">Delete Sport</button>
		<button id="findBtn" class="btn" ng-click="findSport(id)">Find By Id</button>
	</div>
	
	<br></br>
	
	<div class="form">
		<label for="id">Id:</label>
		<input id="id" ng-model="id" type="text"/> 
		
		<label for="name">Name:</label>
		<input id="name" ng-model="name" type="text" ng-required="true"/> 
		
		<label for="players">Players:</label>
		<input id="players" ng-model="players" type="number"/>
		
		<button id="updateBtn" class="btn" ng-click="updateSport()" >Update Sport</button>
	</div>
	
	<br></br>
	
	<h4>{{msg}}</h4>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-resource.js"></script>
	<script src="./js/services.js"></script>
</body>
</html>